@import url(public.css);
body{
	background:#fff;
}
*{
   font-family: "微软雅黑","宋体","sans-serif";
   font-size: 12px;
   color:#666;
}
/*sdhl*/
.sdhl{
	width:1400px;
	height: 26px;
	background: red;

}
/* top wang ye */
.top{width: 1200px;
	height: 162px;
	
	margin: 0px auto;
}
.top_bar{
	width: 1200px;
    height:25px;
    background:#f6f6f6;
	border-bottom:1px solid #ececec;
   }
.top_bar_left{
 	width:180px;
	height:25px;
	display: inline-block;
	background:#f6f6f6;
	float: left;
 }
 .top_bar_left1{
 	width:95px;
	height:25px;
	border-right: 1px solid #ECECEC;
	background:#f6f6f6;
	float: left;
	display: inline-block;
 }
.top_bar_left1_1{
	float: left;
	margin-top:0px;
    margin-left:10px;
}
.top_bar_left1_2{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_bar_left2{
	width:80px;
	height:25px;
	float: left;
	background:#f6f6f6;
	display: inline-block;
	border-right: 1px solid #ECECEC;
}
.top_bar_left2_1{
	float: left;
	margin-top:0px;
    margin-left:10px;
}
.top_bar_left2_2{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_bar a{
	font-size: 12px;
	font-family: 微软雅黑；
	line-height:25px;
	
	float: left;
	display: inline-block;
}
.top_bar a:hover{
	font-size: 12px;
	font-family: 微软雅黑；
	line-height:25px;
	/*padding: 0px 25px 10px;*/
	float: left;
	color: #36B4FC;
}
.top_bar a img{
	
	float: left;
	line-height:25px;
	margin-top:6px;
	/*margin-top:5px;
    margin-left:1px;*/
}
.top_bar a img:link{
	
	float: left;
	line-height:25px;
	
    color:red; 

}
.top_bar_right{
	width:275px;
	height:25px;
	display: inline-block;
	background:#f6f6f6;
	margin: 0 auto;
	float: right;
}
.top_bar_right_1{
	width:61px;
	height:25px;
	display: inline-block;
	background:#f6f6f6;
	float: left;
}
.top_bar_right_1_1{
	float: left;
	margin-top:0px;
    margin-left:10px;
}
.top_bar_right_1_2{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_bar_right_2{
	width:82px;
	height:25px;
	float: left;
	background:#f6f6f6;
	display: inline-block;
}
.top_bar_right_2_1{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_bar_right_3{
	width:58px;
	height:25px;
	float: left;
	background:#f6f6f6;
	display: inline-block;
}
.top_bar_right_3_1{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_bar_right_4{
	width:59px;
	height:25px;
	float: left;
	background:#f6f6f6;
	display: inline-block;
}
.top_bar_right_4_1{
	float: left;
	margin-top:4px;
    margin-left:4px;
}
.top_body{
	width:1200;
	

}
.top_body_1{
	float: left;
	margin-top: 27px;
}
.top_body div p{
	float: left;
	margin-top:35px;
	margin-left: 25px;
	font-size: 14px;
	color: rgb(102,102,102); 
}
.top_body_find input{
	float: left;
	margin-top: 15px;
	margin-left: 200px;
}
.top_body_find_span{
	float: left;
	display: inline-block;
	margin-top: 8px;
	margin-left:200px; 
	font-size: 12px;
	color: rgb(102,102,102);

}
.top_body_find_a{
	float: left;
	display: inline-block;
	margin-top: 8px;
	margin-left:5px; 
	font-size: 12px;
	color: #EA2F77;
}
.top_body_find_b{
	float: left;
	display: inline-block;
	margin-top: 8px;
	margin-left:7px; 
	font-size: 12px;
	color:#666666;
}
.top_body_find_a:hover{
	text-decoration: underline;
}
.find{
	

	float: left;
	
	margin-top: 15px;
	width: 85px;
	height: 37px;
	background: #25B2FE;
	display: inline;
	

	
}
.find span{
	float: left;
	display: inline-block;
	font-size: 14px;
	margin-top: 7px;
	margin-left: 28px;
	color: rgb(255,255,255);
	
}
.top_bottom{
	width: 1200px;
	height: 40px;
	
	margin-top: 96px;
	position: relative;
}

.top_bottom_1{
	float: left;
	width: 159px;
	height: 40px;
	border-right: 1px solid #FFFFFF;
	background: #E4E4E4;
	
}

.top_bittom01{
	display: block;
	width: 159px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
	font-weight: 700px;
	color: #666;
    border-top: 2px solid #0085d0;
	
}
.top_bottom_1 a:hover{
	background: #E4E4E4;
	text-decoration: underline;
	color: #0085d0;

}

.top_bottom_3 a:hover{
	background:#FAFAFA;
	
	color: #0085d0;
}
.top_bottom_3{
	float: left;
	width: 259px;
	height: 40px;
	border-right: 1px solid #FFFFFF;
	background: #E4E4E4;
}


.top_bittom02{
	display: block;
	width: 259px;
	height: 39px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700px;
	color: #666;
}
.downMenu{
	width:1200px;
    height:40px;
    background: #fff;
    box-shadow: 0px 3px 10px red;
	position: absolute;
	top:41px;
	left:0;
	display:none;
	z-index: 20;

}
.downMenu a{
	display: block;
    width: 180px;
    height:40px;
    line-height:40px;
    text-align: center; 
    float: left;
    font-size: 14px;
}



/* banner start */
.banner{
  width:1200px;
  height:350px;
  margin:10px auto;

}
.banner_list{
	width:160px;
	height:350px;
	float: left;
	border:1px solid #b8d9e9;
}
.banner_list h1{
	width:138px;
	height: 31px;
	/*background:red;*/
	margin:0 auto;
	font-weight:200;
	text-align: center;
	line-height: 31px;
}
.banner_list h1 a{
    color:#333;
}
.banner_list h1 a:hover{
    color: #0085d0;
}
#banner_list1{
	background: url(../image/shopclass.gif ) no-repeat;
	
	background-position:15px 20px;

}
#banner_list2{
	background: url(../image/shopclass.gif) no-repeat;
   
    background-position: 15px -30px;
}
#banner_list3{
	background: url(../image/shopclass.gif) no-repeat;
  
    background-position: 15px -80px;
    }
#banner_list4{
	background: url(../image/shopclass.gif) no-repeat;
    background-position: 15px -130px;
    }
#banner_list5{
	background: url(../image/shopclass.gif) no-repeat;
    background-position: 15px -174px;
    }
.banner_list spen{
    display: block;
	width: 138px;
	height:64px;
	border-top: 1px solid #e9e9e9;
	margin:0 auto;
	text-align: center;
	line-height: 64px;

}
.banner_list spen a{
	color:#333;
	font-size: 15px;

}
.banner_list spen a:hover{
    color: #0085d0;
}
.banner_img{
	width:740px;
	height:350px;
	background: yellow;
	float: left;
	margin-left: 10px;
    overflow: hidden;
    position: relative;
}
.btnL{
 width:30px;
 height:70px;
 position: absolute;
 top: 50%;
right:0;
 margin-top: -35px;
z-index: 20;
overflow: hidden;
 opacity: 0.5;

}
.btnR{
      width:30px;
      height:70px;
      position: absolute;
      top: 50%;
      left :0;
      margin-top: -35px;
      z-index: 20;
      overflow: hidden; 
      opacity: 0.5;
}
.btnL img{
	display: block;
	margin-left: -40px;

}
.banner_img a{
	display: block;
	background:yellow;
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0,
}
.banner_img_1{
	width: 168px;
	height: 15px;
	position: absolute;
	bottom: 10px;
	left:50%;
    margin-left: -81px;
    float: left;
    list-style: none;
    z-index: 9999;
}
.banner_img_1 li{
	display: block;
	width: 15px;
	height: 15px;
	float: left;
    list-style-type: none;
    margin-right: 6px;
    background:#DEDEDE;
    border-radius:8px;
}
#hot{
	background: red;
}


.banner_service{
	width:280px;
	height:350px;
	float: right;
	border:1px solid #DFDFDF;
	border-radius:5px;
}
.service_top{
    width:278px;
    height: 160px;
}
.service_item{
	width:85px;
	height:78px;
	float: left;
	margin-left: 7px;
	margin-bottom: 2px;
	display: inline;
	text-align: center;
	position: relative;
	display: inline;

}
.retu{
	position: absolute;
	right: 8px;
	top: -12px; 
	z-index: 2; 
}
.service_item img{
	margin-top: 10px;
}
.service_bottom{
	width:278px;
	height:185px;

}


}
.service_bottomone{
	width: 259px;
	height: 149px;
	float: left;
	margin:20px 10px 10px;
}
.czjf{
	width: 230px;
	height: 20px;
	float: left;
}
.czjf a{
	float: left;
	font: bold 14px/36px "微软雅黑";
	
	padding-left: 15px;
	width: 200px;
	height: 20px;
	line-height: 20px;

}
.czjf a:hover{
	color: #333;
	text-decoration: underline;
}
.sjhm{
	width: 247px;
	height: 44px;
	float: left;
}
.sjhm1{
	width: 230px;
	height: 36;
	border:1px solid  #ccc;
	float: left;
	margin-left: 12px;
	margin-top: 8px;
	display: inline;

}
.sjhm2{width: 225px;
	float: :right;
	display: block;
	height: 30px;
	padding-top: 3px;
	padding-left: 5px;}

.rmbmz{
	width: 247px;
	height: 44px;
	float: left;
}
.rmbmz1{
	width: 236px;
	height: 36px;
	font-weight: bold;
	float: right;
	margin-top: 10px;


}
.rmbmz1 a{
	float: left;
	border: 1px solid #ccc;
	display:block;
	width: 40px;
	height:34px;
	margin:0 2px;
	line-height: 36px;
	text-align: center;
	border-radius:5px;
	display: inline;

}
.rmbmz1 a:hover{
	background: #E40077;
	color:#fff;
}
.service_bottom10{
	float: left;
    width: 243px;
    height: 36px;
}
.anniu{
	color: #fff;
	background: #33ACFB;
	width: 	83px;
	height: 35px;
	border: none;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	display: block;
	border-radius:5px;
	display: inline;

}
.service_bottom10 span{
	display: inline-block;
	width: 83px;
	height: 33px;
	font-size: 13px;
	color:  #E40077;
	margin-left: 2px;
	font-weight: bold;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
/*wangye1*/
.sjryx{
	width:1170px;
	height:160px;
	margin:10px auto;
	background: #DFDFDF;
	padding:10px 15px;

}
.sjryx_1{
	display: block;
	width :285px;
	height:160px;
	margin :0 10px 0 0;
	background: #ffffff;
	float: left;
	position: relative;
}

.sjryx_1 h1{
	display: block;
    font: bold 18px/25px "微软雅黑";
    color: #333;
    padding: 6px 0 0 20px;
}
.sjryx_1 h2{
	display: block;
	font: normal 14px/20px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
}
.sjryx_1 img{
	position: absolute;
	right: 0;
	bottom: 0;  
}
.sjryx_2{
	display: block;
	width :285px;
	height:160px;
	background: #ffffff;
	float: left;
	position: relative;
}

.sjryx_2 h1{
	display: block;
    font: bold 18px/25px "微软雅黑";
    color: #333;
    padding: 6px 0 0 20px;
}
.sjryx_2 h2{
	display: block;
	font: normal 14px/20px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
}
.sjryx_2 img{
	position: absolute;
	right: 0;
	bottom: 0;  
}




/*banner end*/
.g4{
	width:1200px;
	height: 428px;
	margin:10px auto;
}
.title{
	width:1148px;
    height:48px;
    border:1px solid #b8d9e9;
    padding:0px 25px;
    line-height: 48px;

}
.title span{
	font-size:15px;
	float:left;
	color:#0085d0;
	
}

.ck {
	float:right;
	color:#666;
	text-decoration:none;
}
.title a:hover{
    color:#0085d0;
	    text-decoration:underline;}

div.left{
	width:298px;
	height:377px;
	background: yellow;
	border:1px solid #b8d9e9;
	border-top:none;
	float: left;

}
div.box{
	 width: 900px;
	 height: 377px;
	 float: left;
	 background:green;
}
.box1{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#FFFFFF;}

.box2{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#efefef;
}
.box3{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#FFFFFF;
}
.box4{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#efefef;
}
.box5{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#FFFFFF;
}
.box6{
	width: 299px;
	height: 188px;
	float: left;
	border:1px solid #b8d9e9;
	border-left: none;
	border-top: none;
	background:#efefef;
}

.lianjie1 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: #333;
	 font-weight: 200;
	
}
.lianjie1-1 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: red;
	 font-weight:200;
	 
	
}
.lianjie1-2 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: #333;
	 font-weight: 200;
	
}
.lianjie1-3 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: red;
	 font-weight: 200;
	
}
.lianjie1-4 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: #333;
	 font-weight: 200;
	
}
.lianjie1-5 h1{
     display: block;
	 font-size:19px;
	 padding: 7px 0px 0px 20px;
	 color: red;
	 font-weight: 200;
	
}
.lianjie1 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
     font-weight: 200;
}
.lianjie1-1 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
     font-weight: 200;
}
.lianjie1-2 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
     font-weight: 200;
}
.lianjie1-3 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
	 font-weight: 200;
	}
.lianjie1-4 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
	 font-weight: 200;
	}
.lianjie1-5 h2{
	 font-size: 14px; 
	 padding:0 0 0 20px;
	 color: #333;
	 display: block;
	 font-weight: 200;
	}
.lianjie2{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;
    font-weight: 200;

}
.lianjie2-1{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;

}
.lianjie2-2{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;

}
.lianjie2-3{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;

}
.lianjie2-4{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;

}
.lianjie2-5{
	width: 299px;
	height: 136px;
    display: block;
    position: relative;

}
.tupian1{
	position: absolute;
	right: 0;
	bottom: 0;
	}

.tupian2{
	position: absolute;
	right: 0;
	bottom: 0;
	}
.tupian3{
	position: absolute;
	right: 0;
	bottom: 0;
	}
.tupian4{
	position: absolute;
	right: 0;
	bottom: 0;
	}

.tupian5{
	position: absolute;
	right: 0;
	bottom: 0;
	}
.tupian6{
	position: absolute;
	right: 0;
	bottom: 0;
	}
#yanse{
	color:#333;
	
}
#yanse1{background: #ffffff;

}


/* msj*/
.msj{
	width:1200px;
	height: 428px;
	
	margin:10px auto;

}
.msj_pb{
	width: 1200px;
	height:378px;
}
.msj_1{
	width: 298px;
	height:377px;
	float: left;
	border:1px solid #b8d9e9;
	border-top: none;
	background: #ffffff;
}
.msj_2{
	width: 299px;
	height:377px;
	float: left;
	border:1px solid #b8d9e9;
	border-top: none;
	border-left: none;
	background: #ffffff;
}
.msj_3{
	width: 299px;
	height:377px;
	float: left;
	border:1px solid #b8d9e9;
	border-top: none;
	border-left: none;
	background: #ffffff;
}
.msj_4{
	width: 299px;
	height:377px;
	float: left;
	border:1px solid #b8d9e9;
	border-top: none;
	border-left: none;
	background: #ffffff;
}
.msj_1_01{
	width: 298px;
	height: 357px;
	display:block;
	background: #ffffff;
	position: relative;
}
.msj_1_01 img:hover{
	  right: 20px;
}
.msj_1_01 h1{
	display: block;
	color: #666;
	font: normal 14px/20px "微软雅黑";
    margin:20px 0 0 20px; 
}
.msj_1_01 h2{
	display: block;
	font: normal 12px/20px "微软雅黑";
    color: #0085d0;
    margin:0 0 0 20px
}
.msj_1_01 h3{
	display: block;
	font: normal 20px/150% "微软雅黑";
    color: #ef33a2;
    margin: 10px 0 0 20px;
} 
.msj_1_01 img{
	position: absolute;
	right: 0;
	bottom: 0;
}
.msj_2 h4{
	display: block;
	color: #999;
	font-size: 11px;
	float: left;
	margin:-30px 0 0 75px;
}
.msj_3 h4{
	display: block;
	color: #999;
	font-size: 11px;
	float: left;
	margin:-30px 0 0 85px;
}
.msj_4 h4{
	display: block;
	color: #999;
	font-size: 11px;
	float: left;
	margin:-30px 0 0 85px;
}
/*gonggaolan*/
.ggl{
	width:1198px;
	height: 38px;
	margin: 10px auto;
	border: 1px solid #b8d9e9;
}
.ggl_1{
	float: left;
	display:block;
    margin: 11px 0 0 20px;
	}
.ggl_2{
	line-height:38px;
	font-size: 15px;
	margin: 0 0 0 10px;
	color: #666;
	float: left;
}
.ggl_3{
   color: #0085d0;
   width: 360px;
   float: left;
   text-decoration: none;
   font-size: 15px;
   line-height: 38px;
}
.ggl_4{
	color: #ccc;
    float: left;
    background: none;
   margin: 0 0 0 5px;
    width: 100px;
    font-size: 15px;
    line-height: 38px;
}

.ggl_5{
	float:right;
	width: 42px;
	height: 38px;
	margin: 0 20px 0 0;

}
.ggl_5_1{
	
	color: #3580ba;
    text-decoration: none;
    width: 21px;
    height: 38px;
    font: bold 15px/25px "宋体";
    float: left;
    line-height: 38px;
}
.ggl_5_2{
	
	color: #3580ba;
    text-decoration: none;
    width: 21px;
    height: 38px;
    font: bold 15px/25px "宋体";
    float: right;
    line-height: 38px;
}
/*xia fang kuang */




.xfkwy{
	width: 1163px;
	height: 188px;
	border: 1px solid #dfdfdf;
	padding:20px 0 20px 35px;
	margin:10px auto;
}
.xfkwy_1{
	width: 230px;
	height: 189px;
	float: left;
}
.xfkwy_1-1{
	font: bold 15px/180% "微软雅黑";
    color: #666;
}
.xfkwy_1-2{
	display: block;
    font-size: 15px;
    line-height: 180%;
    color: #666;
}

.xfkwy_1 a:hover{
	color:#0085d0;
	text-decoration:underline;

}
/*wangye ye jiao*/
.wyyj{
	width: 1000px;
	height:110px;
	margin: 0 auto;
	padding:20px 0;
	
}
.wyyj1{
	width: 1000px;
	height: 33px;
}
.wyyj1_1{
	line-height: 33px;
	text-align: center;

}.wyyj2{
	width: 1000px;
	height: 22px;

}
.wyyj2_1{
	line-height: 22px;
	text-align: center;
}
.wyyj1 a:hover{
	color:#0085d0;

    text-decoration:underline;

}
.wyyd{
	width: 300px;
	height: 47px;
	margin:0px auto;
	padding: 0px 350px;
}
.wyyd1{
	width:128px;
    height: 47px;
    float: left;
    display: block;
    }
.wyyd2{
	width: 150px;
	height: 37px;
	float: left;
	padding:0 0 0 20px;
	


}
.wyyd2_1{

	float: left;
	display: block;
    background:url("../image/gov.gif") no-repeat;
    background-size: 21px 25px;
    line-height: 25px;
    margin: 12px 0 0 0;
    padding: 0 0 0 25px;
    width: auto;
}