h1,h2,h3,h4,h5,h6,p,body,ul,li,input{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}

li{
	list-style: none;
}
 a:hover{
	color: blue;
}
body{
	font-size: 12px;
	font-family: "微软雅黑"
}
img{
	border: none;
}
.head{
	width: 100%;
	height:26px;
	background:#F6F6F6;
	border-bottom: 1px solid #eee;
}
.head_nav{
	width: 1200px;
	height: 26px;
	margin: 0 auto;
}
.head .head_nav .u1 li{
	float: left;
	border-right: 1px solid ;
	text-align: center;
	line-height: 26px;
}
.head .head_nav .u1 li{
	padding-left: 10px;
	padding-right: 10px;
}
.head .head_nav .u2{
	float: right;
}
.head .head_nav .u2 li{
	float:left;
	text-align: center;
	line-height: 26px;
	margin-right: 10px;
}
.head .head_nav .u2 .a1{
	color: red;
}
.content .main {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.main .main_nav1{
	width: 1200px;
	height: 96px;
	margin: 0 auto;
	/*background: red;*/
}
.main_nav1 .logo{
	float: left;
	width:230px;
	height:40px;
	margin-top: 20px;
}
.main_nav1 .youbian{
	float: right;
	width:540px;
	height:65px;
	/*background: red;*/
	margin-top: 20px;
}
.main_nav1 .youbian_top input{
	display:block;
	float:left;
}
.main .youbian_top{
	width: 540px;
	height: 40px
}
.ss{
	border:1px solid #eee;
	width: 435px;
	height: 35px;
	margin-right: 5px;
}
.main .main_nav1 .tijiao{
	width: 65px;
	height: 37px;
}
.main_nav1 .youbian_bottom div{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
}
.main_nav1 .youbian_bottom .zi1{
	color: red;
}
.main_nav1 .youbian_bottom .zi2{
	color: red;
}
.main_nav1 .youbian_bottom .zi3{
	color: red;
}
.main .main_nav2{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.main_nav2 div{
	float: left;
	text-align: center;
}
.main_nav2 .s11{
	line-height: 40px;
}
.main_nav2 .s1{
	width: 159px;
	height: 38px;
	background: #e4e4e4;
	border-top: 2px solid blue;
/*	margin-right: 1px;*/

}
.main_nav2 .s2{
 	width: 259px;
	height:40px;
	background: #e4e4e4;
	margin-left: 1px;
}
.main_nav2 .s2 a{
	display: block;
	width: 100%;
	height: 100%;
}
.main_nav2 .s2 .listt{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background: #eee;
	position: absolute;
	top:40px;
	left: 0;
	z-index: 101;
	display: none;
}
.listt ul li{
	float: left;
	display: block;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.main .main_nav3{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	margin-top: 5px;
}
.main .nav_left{
	width: 158px;
	height:348px;
	background: #ffffff;
	border: 1px solid #c9e2ee;
	float: left;
}
.side_nav h5{
	width: 100%;
	height: 33px;
	text-align: center;
	line-height: 33px;
}
.side_nav ul li{
	height: 62px;
	width: 138px;
	border-top:1px solid #c9e2ee;
	font-size: 14px;
	margin: 0 auto;

}
.side_nav ul li a{
	display: block;
	/*width:76px;
	height:62px ;*/
	/*margin-top: 10px;*/
	text-align: center;
	line-height:62px ;
	background: url("images/jingling.gif") no-repeat;
}
.side_nav ul li .a1{
background-position: 27px 22px;
}
.side_nav ul li .a2{
background-position: 27px -28px;
}
.side_nav ul li .a3{
background-position: 27px -80px;
}
.side_nav ul li .a4{
background-position: 27px -130px;
}
.side_nav ul li .a5{
background-position: 24px -173px;
}
.nav_mid{
	width: 740px;
	height: 350px;
	float: left;
	position: relative;
}
.main .banner{
	width: 740px;
	height:350px;
	float: left;
	/*position: relative;*/
	padding: 0 10px;
	background:#ffffff;
}
.banner a{
	display: block;
	font-size: 0;
	width: 740px;
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 10px;
}
.banner ul{
	width: 150px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -65px;
	z-index: 100;
}
.banner ul li{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 50%;
	background: #eee;
	cursor: pointer;

}
.banner .btn_left{
	width: 38px;
	height: 62px;
	background: #eee;
	position: absolute;
	top:144px;
	left:10px; 
	font-size: 64px;
	color: white;
	line-height: 62px;
	opacity:0.85;
	text-align: center;
	z-index: 100;
	cursor: pointer;
}
.banner .btn_right{
	width: 38px;
	height: 62px;
	background: #eee;
	position: absolute;
	top:144px;
	right:-10px; 
	font-size: 64px;
	color: white;
	line-height: 62px;
	opacity:0.85;
	text-align: center;
	z-index: 101;
	cursor: pointer;
}

.main .nav_right{
	width: 274px;
	height:348px;
	background:#ffffff;
	margin-left: 23px;
	border: 1px solid #dfdfdf;
	float: left;
}
.main .nav_right .gong{
	height: 178px;
	width: 272px;
	border: 1px solid #dfdfdf;
	text-align: center;
}
.main .nav_right .gong a{
	display: block;
	float: left;
	width: 90px;
	height: 85px;
	margin-top: 20px;
}
.main .nav_right .jhf{
	height: 83px;
	width: 272px;
	border: 1px solid #dfdfdf;
}
.nav_right .jhf_bottom input{
	display: block;
	height: 35px;
	width: 272px;
}
.main .nav_right .ljcz{
	height: 83px;
	width: 272px;
	border: 1px solid #dfdfdf;
}
.nav_right .ljcz .qian{
	margin: 0 auto;
	height: 30px;
}
.nav_right .ljcz .jiao1{
	border: 1px solid #dfdfdf;
	width: 42px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
.qian .hongse{
	background: #e40077;
}
.nav_right .ljcz .wushi{
	margin-left: 15px;
}
.jiao1 .sanshi{
	font-size: 12px;
	color: #6e6e6e;
}
.main .nav_right .qian1 a{
	display:block;
	width:68px;
	height:68px;
	float: left;
    margin-left:100px;
    margin-top:10px;
    text-align:center;
}
.nav_right .qian1{
	font-size: 14px;
}
.main .nav_right .ljcz .img1{
	background:url() no-repeat;
	background-position:center top;
}


.main .main_gd{
	width: 1200px;
	height:180px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
}
.main .gdout{
	width: 1180px;
	height: 160px;
	border-top: 10px solid #dfdfdf;
	border-bottom: 10px solid #dfdfdf;
	border-left: 10px solid #dfdfdf;
	border-right: 10px solid #dfdfdf;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.gdout .gdbox{
	width: 17700px;
	height: 160px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.main .gdout a{
	display: block;
	height: 160px;
	width: 285px;
	float:left;
}
.gdout .gdbk{
	width: 295px;
	height: 160px;
	float: left;
}
.main_gd .gbtnL{
	width: 25px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	background:#b6b6b6;
	position: absolute;
	top: 60px;
	left: 0px;
	z-index: 1001;
}
.main_gd .gbtnR{
	width: 25px;
	height: 35px;
	background:#b6b6b6;
	text-align: center;
	cursor:pointer;
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 1001;
}
.gbtnL,.gbtnR p{
	font-size: 20px;
	color: white;
}
.main .gdout .gdone{
	border-left:5px solid #dfdfdf; 
	border-right:5px solid #dfdfdf;
}
.main .gdout .gd1{
	background: url("images/gd1.jpg") no-repeat;
	background-position: right bottom;
}
.main .gdout .gd2{
	background: url("images/gd2.jpg") no-repeat;
	background-position: right bottom;
}
.main .gdout .gd3{
	background: url("images/gd3.jpg") no-repeat;
	background-position: right bottom;
}
.main .gdout .gd4{
	background: url("images/gd4.jpg") no-repeat;
	background-position: right bottom;
}
.main .gdout .p1{
	font-size: 18px;
	font-weight: bold;
}


.main .main_fourG{
	width: 1200px;
	height:430px;
	margin: 0 auto;
	margin-top: 10px;
	/*background: yellow;*/
}
.main .main_fourG .fourout{
	width: 1198px;
	height: 428px;
	border: 1px solid #cdcdcd;
}
.main .main_fourG .fourtop{
	height: 50px;
	border-bottom: 1px solid #cdcdcd;
}
.main .fourtop .zhuan1{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
.main .fourtop .zhuan2{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
.main .fourtop .pz{
	font-size: 14px;
	font-weight: bold;
}
.main .main_fourG .fourbot{
	height: 377px;
}
.main .fourbot .botleft{
	float: left;
	width: 296px;
	height: 377px;
	border-right: 1px solid #cdcdcd;
	background: url("images/sige.jpg") no-repeat;
}
.main .fourbot .botright{
	float: left;
	width:900px;
	height:377px; 
}
.main .botright .zi{
	float:left;
}
.main .botright .dai1{
	width: 299px;
	height: 186px;
	background: url("images/dai1.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.main .botright .dai2{
	width: 299px;
	height: 186px;
	background: url("images/dai2.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
	background-color: #efefef;
	border-bottom: 1px solid #e4e4e4;
}
.main .botright .dai3{
	width: 299px;
	height: 186px;
	background: url("images/dai3.jpg") no-repeat;
	background-position: right bottom;
	border-bottom: 1px solid #e4e4e4;
}
.main .botright .dai4{
	width: 299px;
	height: 188px;
	background: url("images/dai4.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
	background-color: #efefef;
}
.main .botright .dai5{
	width: 299px;
	height: 188px;
	background: url("images/dai5.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
}
.main .botright .dai6{
	width: 299px;
	height: 188px;
	background: url("images/dai6.jpg") no-repeat;
	background-position: right bottom;
	background-color: #efefef;
}
.main .main_msj{
	width: 1200px;
	height:440px;
	margin: 0 auto;
	margin-top: 10px;
	/*background: blue;*/

}
.main .main_msj .msjout{
	border: 1px solid #e4e4e4;
	width: 1198px;
	height: 438px;
}
.main .msjout .msjtop{
	float: left;
	height: 39px;
	border-bottom: 1px solid #e4e4e4;
}
.main .msjtop .mai1{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.main .msjtop .mai2{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.main .msjtop .maimai{
	font-size: 14px;
	font-weight: bold;
}
.main .msjout .msjbot{
	float: left;
	height: 398px;
	width: 1198px;
}
.main .msjbot .guo{
	width: 299px;
	height: 398px;
	float: left;
	margin-top:9px;
	/*margin-right: 5px;*/
}
.main .msjbot .guo1{
	width: 297px;
	height: 396px;
	float: left;
}	
.main .msjbot .ji1{
	border-right: 1px solid #e4e4e4;
}
.main .msjbot .ji2{
	border-right: 1px solid #e4e4e4;
}
.main .msjbot .ji3{
	border-right: 1px solid #e4e4e4;
}
.main .msjbot .xian{
	font-size: 14px;
	color: #7a7aa3;
}
.main .msjbot .xing{
	font-size: 12px;
	color: #0085d0;
}
.main .msjbot .ban{
	font-size: 16px;
	color: #ef33a2;
}
.main .msjbot .ji1{
	background: url("images/sj1.jpg") no-repeat;
	background-position: right bottom;
}
.main .msjbot .ji2{
	background: url("images/sj2.jpg") no-repeat;
	background-position: right bottom;
}
.main .msjbot .ji3{
	background: url("images/sj3.jpg") no-repeat;
	background-position: right bottom;
}
.main .msjbot .ji4{
	background: url("images/sj4.jpg") no-repeat;
	background-position: right bottom;
}
/*业务推荐*/
.main .main_yewu{
	width: 1200px;
	height:430px;
	margin: 0 auto;
	margin-top: 10px;
	/*background: red;*/
}
.main .main_yewu .ywout{
	width: 1198px;
	height: 428px;
	border: 1px solid #cdcdcd;
}
.main .main_yewu .ywtop{
	height: 49px;
	border-bottom: 1px solid #cdcdcd;
}
.main .ywtop .ye1{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
.main .ywtop .ye2{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
.main .ywtop .tui{
	font-size: 14px;
	font-weight: bold;
}
.main .main_yewu .ywbott{
	width: 100%;
	height: 377px;
}
.main .ywbott .ywleft{
	float: left;
	width: 296px;
	height: 377px;
	border-right: 1px solid #cdcdcd;
	background: url("images/liuliang.jpg") no-repeat;
}
.main .ywbott .ywright{
	float: left;
	width:900px;
	height:377px; 
}
.main .ywright .fei{
	float:left;
}
.main .ywright .xiang1{
	width: 299px;
	height: 186px;
	background: url("images/ll1.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.han{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 16px;
	color: #393939;
}
.gai{
	margin-left: 5px;
	font-size: 14px;
	color: #c7c7c7;
}
.main .ywright .xiang2{
	width: 299px;
	height: 186px;
	background: url("images/ll2.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.main .ywright .xiang3{
	width: 299px;
	height: 186px;
	background: url("images/ll3.jpg") no-repeat;
	background-position: right bottom;
	border-bottom: 1px solid #e4e4e4;
}
.main .ywright .xiang4{
	width: 299px;
	height: 188px;
	background: url("images/ll4.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
}
.main .ywright .xiang5{
	width: 299px;
	height: 188px;
	background: url("images/ll5.jpg") no-repeat;
	background-position: right bottom;
	border-right: 1px solid #e4e4e4;
}
.main .ywright .xiang6{
	width: 299px;
	height: 188px;
	background: url("images/ll6.jpg") no-repeat;
	background-position: right bottom;
}
.main .main_gg{
	width: 1200px;
	height:40px;
	margin: 0 auto;
	margin-top: 10px;
	/*background: yellow;*/
}
.main .main_gg .ggout{
	width: 1198px;
	height: 38px;
	border: 1px solid #e4e4e4;
}
.main .main_gg .guan1{
	float: left;
	margin-left: 10px;
	margin-right: 60px;
	margin-top: 7px;
}
.main .main_gg .guan2{
	float: left;
	margin-right: 60px;
	margin-left: 10px;
	margin-top: 10px;
}
.main .main_gg .jiang{
	float: right;
}
.main .main_gg .guan3{
	float:left;
	margin-right: 60px;
	margin-left: 10px;
	margin-top: 7px;
}
.main .main_gg .guan4{
	float: left;
	margin-right: 60px;
	margin-left: 10px;
	margin-top: 10px;
}
 .yu{
	color:#2fb1eb;
	font-size: 16px;
}
 .yu1{
	color:#cccccc;
	font-size: 14px;
}
.main .main_fw{
	width: 1200px;
	height:230px;
	margin: 0 auto;
	margin-top: 10px;
	/*background: blue;*/
}
.main .main_fw .fwout{
	width: 1198px;
	height: 228px;
	border: 1px solid #e4e4e4;
}
.main .main_fw .qu{
	float: left;
	margin-right: 150px;
	margin-top: 5px;
	margin-left: 5px;
}
.main .fwout .dao{
	/*margin-top: 5px;
	margin-left: 10px;*/
	font-size: 14px;
	color: #767676;
	font-weight: bold;
}
.main .fwout .dao1{
	margin-top: 5px;
	color: #767676;
	/*margin-left: 10px;*/
}
.main .fwout .dao2{
	margin-top: 5px;
	color: #767676;
	/*margin-left: 10px;*/
}
.footer{
	width: 1200px;
	height: 194px;
	/*background-color: red;*/
	margin: 0 auto;
}
.footer .foot1{
	width: 650px;
	height: 40px;
	margin: 0 auto;
}
.footer .foot1 ul li{
	float: left;
	line-height: 40px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
}
.footer .footout{
	/*width: 1200px;*/
	height: 30px;
	width: 650px;
	margin: 0 auto;
}
.footer .foot2 {
	width: 566px;
	height: 30px;
	margin: 0 auto;
}
.footer .foot2 ul li{
	float: left;
	line-height: 30px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	/*color: #666e7d;*/
}
.footer  li a{
	color: #666e7d;
}
.footer .foot3{
	width: 246px;
	height: 30px;
	margin: 0 auto;
	color: #666e7d;
}
.footer .foot3 ul li{
	float: left;
	line-height: 30px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
}
.footer .foot4{
	width: 440px;
	height: 24px;
	margin: 0 auto;
	color: #666e7d;
}
.footer .foot4 ul li{
	float: left;
	line-height: 24px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
}
.footer .foot5{
	width: 290px;
	height: 46px;
	margin: 0 auto;
	color: #666e7d;
}
.footer .foot5 div{
	float: left;
}
.footer .foot5 .jing1{
	margin-left: 15px;
	margin-top: 10px;
}
.footer .foot5 .jing2{
	/*margin-left: 15px;*/
	margin-top: 12px;
}
.guding{
	position: fixed;
	bottom: 30px;
	right: 0px;
}
.guding a{
	display: block;
	width: 40px;
	height: 116px;
	position: relative;
}
.guding .fix1{
	position: absolute;
	top: 30px;
	left: -30px;
	z-index: -1;
}
.guding .fix2{
	position: absolute;
	top: 60px;
	left: -30px;
	z-index: -1;
}
.guding .fix3{
	position: absolute;
	top: 90px;
	left: -30px;
	z-index: -1;
}
.fix1 a:hover{
	left: -50px;
}
.fix2 a:hover{
	left: -50px;
}
.fix3 a:hover{
	left: -50px;
}